body {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}
body,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
html {
  background-image: url("../public/image/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
  color: #0c0c0c;
}
