.bar-body{
  height: 40px;
  display: flex;
  margin-bottom: 10px;
  .step-body{
    flex: 1;
    text-align: center;
    line-height: 40px;
    color: white;
    background-color: #8c8c8c;
    &.active {
      background-color: #1890ff;
    }
    &+.step-body {
      border-left: 1px solid rgba(255,255,255,.5);
    }
  }
}